[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
wget = "*"
bs4 = "*"
selenium = "*"
pandas = "*"
requests = "*"
sklearn = "*"
matplotlib = "*"
pytest = "*"
seaborn = "*"
lxml = "*"
typing = "*"
nfl-data-py = "*"
flask = "*"
streamlit = "*"
plotly = "*"
nflfastpy = "*"
pyinstaller = "*"
psycopg2-binary = "*"
psycopg2 = "*"
boto3 = "*"
html5lib = "*"
sqlalchemy = "*"
numpy = "*"
scipy = "*"
webdriver-manager = "*"
celery = "*"
fantasyfootball = {path = "."}

[dev-packages]

[requires]
python_version = "3.10"
