<!doctype html>

<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
  </head>

  <body>
    <h1>Drafter</h1>
    <p>This is the drafting page of the application. Input the url for your draft below.</p>
    <p>{{error}}</p>
    <form class="space">
      <input type="text" id="url" name="url"></input>
      <input type="submit" value="Submit">
    </form>
    <iframe src="http://localhost:8501" width="100%" height="600" style="border:none;"></iframe>
  </body>
</html>

<style>
  .space {
    margin-bottom: 25px;
  }
</style>