<!doctype html>

<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Welcome home</title>
  </head>

  <body>
    <h1>Home Page</h1>
    <p>This is the home page of the application.</p>
    <div class="space">
      <form method="get" action="/draft/analysis">
        <button type="submit">Draft Visualizer</button>
      </form>
    </div>
    <div class="space">
      <form method="get" action="/draft">
        <button type="submit">Drafter</button>
      </form>
    </div>
  </body>
</html>

<style>
  .space {
    margin-top: 25px;
  }
</style>

